include includes/_variables.pug

doctype html
html(lang="en")
  head
    block meta

    //- way 1
    //- title #{docTitle}
    //- way 2
    title= docTitle

    block fonts
      if GoogleFonts
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(rel="stylesheet", href=`https://fonts.googleapis.com/css2?family=${GoogleFonts.familyLato}&family=${GoogleFonts.familyNunito}&display=swap`)

    block styles
      if Bootstrap
        link(rel="stylesheet", href="../../node_modules/bootstrap/dist/css/bootstrap.min.css")
      link(rel="stylesheet", href=`${PATHS.styles}/main.css`)

  body(class=["d-flex", "flex-column", "vh-100"])

    include includes/_socialicons.pug

    include includes/_header.pug

    block content

    include includes/_footer.pug

    block scripts
      if Bootstrap
        script(defer src="../../node_modules/bootstrap/dist/js/bootstrap.min.js")
      script(src=`${PATHS.scripts}/main.js`)
