<!DOCTYPE html>
<html>

<head>
  <%- include('../layouts/head'); %>
</head>

<body class="text-2xl flex flex-col justify-between h-screen">

  <%- include('../layouts/header', { title: 'index' }); %>

  <main class="flex flex-col justify-center items-center flex-1">
    <section class="text-center mb-5">
      <h1 class="mb-5 text-3xl">Enter the city where you want to know the
        weather</h1>
      <form action="/" method="post" class="flex flex-col">
        <input type="text" name="city" placeholder="city name..."
          class="border-b border-slate-500 block mb-5 p-2 text-center focus:bg-slate-100 focus:outline-none">
        <button type="submit"
          class="m-auto px-7 py-2 rounded-md bg-teal-700 text-cyan-100 hover:bg-teal-900">Get
          weather</button>
      </form>
    </section>
    <section class="p-4">
      <output>
        <% if(cityName) { %>
        <span>In <%= cityName %></span>
        <% } %>

        <% if(cityTemperature) { %>
        <span> <%= cityTemperature %>&#8451;</span>
        <% } %>

        <% if(cityDescription) { %>
        <span>&#44; <%= cityDescription %></span>
        <% } %>
      </output>
    </section>
  </main>

  <footer class="p-5 bg-teal-700">
    <%- include('../layouts/footer'); %>
  </footer>

</body>

</html>
