header.header.mb-5
  nav.navbar.navbar-expand-md.bg-light
    .container-fluid
      a(class="navbar-brand" href="#") Brand
      button(
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#header"
        )
        span.navbar-toggler-icon
      .collapse.navbar-collapse.justify-content-end#header
        ul.navbar-nav
          li.nav-item
            a(href="index.html" class=currentPage == 'index.html' ? "active" : '').nav-link Main
          li.nav-item
            a(href="#").nav-link Blog
          li.nav-item
            a(href="#").nav-link Portfolio
          li.nav-item
            a(href="contacts.html" class={active: currentPage == 'contacts.html'}).nav-link Contacts
