block vars
  include _variables.pug

  mixin slider(src, active='')
    div(class=`carousel-item ${active}`)
      img(src=src class="d-block w-100" alt="image")



doctype html
html(lang=language)
  head
    block meta
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(name="description" content=docDescription)

    //- way 1
    //- title #{docTitle}
    //- way 2
    title Learn Pug | #{docTitle}

    block fonts
      if GoogleFonts
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(rel="stylesheet", href=`https://fonts.googleapis.com/css2?family=${GoogleFonts.familyLato}&family=${GoogleFonts.familyNunito}&display=swap`)

    block styles
      if Bootstrap
        link(rel="stylesheet", href="../../node_modules/bootstrap/dist/css/bootstrap.min.css")
      link(rel="stylesheet", href=`${PATHS.styles}/main.css`)

  body(class=["d-flex", "flex-column", "min-vh-100"])

    include _socialicons.pug

    include _header.pug

    main.container.m-auto.my-0
      section
        h1.text-center.mb-3= docTitle
        block list-group
          div.btns.list-group.m-auto.mb-3.w-100
            a(
              href="index.html"
              type="button"
              class=["list-group-item", "list-group-item-action", "active", "home-btn"]
              aria-current="true"
            ) Go to home page
            a(
              href="contact.html"
              type="button"
              class=["list-group-item", "list-group-item-action", "contact-btn"]
            ) Go to contact page
            button(
              type="button"
              class=["list-group-item", "list-group-item-action", "hide-paragraph"]
              data-toggle="Show"
            ) #[span] paragraph below
            button(
              type="button"
              class=["list-group-item", "list-group-item-action"]
            ) A fourth button item
            button(
              type="button"
              class=["list-group-item", "list-group-item-action"]
              disabled
            ) A disabled button item
        block content

    include _footer.pug

    block scripts
      if Bootstrap
        script(type="module" src="../../node_modules/bootstrap/dist/js/bootstrap.min.js")
      script(src=`${PATHS.scripts}/main.js`)
